@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;800;900&display=swap");
/*************
variables
*************/
/*************
basic styles
*************/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

/*************
basic styles
*************/
/*************
nav
*************/
nav {
  background: #49bfff;
}

nav .navbar-brand {
  font-size: 1.8rem;
}

nav .navbar-brand:hover {
  color: #0056b3;
}

nav .nav-item .nav-link:hover {
  color: #000;
}

nav .nav-item:last-child {
  background: #dc3545;
  padding: 2px 4px;
  border-radius: 5px;
}

/*************
header
*************/
.carousel-item {
  position: relative;
}

.carousel-item .carousel-caption {
  position: absolute;
  top: 160px;
  text-align: left;
}

.carousel-item .carousel-caption h5 {
  font-size: 5rem;
}

.carousel-item .carousel-caption p {
  font-size: 1.3rem;
}

.carousel-item .carousel-caption button {
  color: #fff;
  font-size: 1.4rem;
  padding: 5px 10px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #fff;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.carousel-item .carousel-caption button:hover {
  background: #5c5c5c;
  border: none;
}

/*************
about
*************/
#about h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 1.3;
}

#about h2 span {
  background: #49bfff;
}

#about .col-md-3 i {
  color: #49bfff;
  font-size: 2rem;
}

#about .col-md-3 h4 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2;
}

#about .col-md-3 p {
  font-weight: 600;
  font-size: 1.4rem;
}

/*************
services
*************/
#services {
  background: #49bfff;
}

#services h2 {
  text-align: center;
  font-size: 4.1rem;
  line-height: 1;
  margin-bottom: 40px;
}

#services .col-md-4 i {
  font-size: 2rem;
  color: #49bfff;
  background: #fff;
  border-radius: 50%;
  padding: 15px 20px;
  margin-bottom: 20px;
}

#services .col-md-4 h4 {
  font-size: 2rem;
  line-height: 2;
  margin-bottom: 20px;
}

#services .col-md-4 p {
  font-size: 1.1rem;
}

/*************
packages
*************/
#packages .card {
  position: relative;
}

#packages .card .fa-tags {
  color: #fff;
  background: #49bfff;
  padding: 4px;
  position: absolute;
  top: 120px;
  left: 175px;
}

#packages .card .card-body span {
  font-size: 1.2rem;
}

#packages .card .card-body span .fas {
  color: #49bfff;
}

#packages .card .card-body h5 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8;
}

#packages button {
  font-size: 1.3rem;
  font-weight: 600;
}

/*************
book now
*************/
#destination h2 {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 40px;
  font-weight: 500;
}

#destination p {
  font-size: 1.3rem;
  margin-bottom: 40px;
}

#destination .card {
  border: 0;
  border-radius: 0;
  position: relative;
}

#destination .card h5 {
  font-size: 1.5rem;
  font-weight: 600;
}

#destination .card .starsImg {
  background-color: #49bfff;
  display: inline-block;
  position: absolute;
  top: 95px;
  left: 140px;
}

#destination .card .starsImg i {
  color: #fff;
}

/*************
footer
*************/
footer {
  color: #fff;
  background: #5c5c5c;
}

footer h3 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}

footer .footerImg img {
  margin-right: 5px;
}

footer form {
  background: #000;
  border: 1px solid #fff;
}

footer form .form-group {
  margin-bottom: 0;
}

footer form .form-group input {
  padding: 0 5px;
  background: #000;
  border-radius: 0;
  border: 0;
}

footer form .form-group input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

footer form .form-group input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

footer form .form-group input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

footer form .form-group input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

footer form .form-group button {
  background: #000;
  color: #fff;
  padding: 0 5px;
}

/*************
bottombar
*************/
.bottombar {
  background: #49bfff;
}
/*# sourceMappingURL=style.css.map */